<!DOCTYPE html>
<html>
    <header>
        <title>RockolaPi</title>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="materialize/css/materialize.css">

        <script src="materialize/js/materialize.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
            
    </header>
    <body>
        <head>
            <h1>
                RockolaPi
            </h1>
            <h5>
                para compartir con amiguis
            </h5>
        </head>
        <section>
            <h4>Cola de canciones</h4>
            <ul id="song-available" class="collection">
                    <li id="song-available-element" class="collection-item avatar">
                        <i id="song-available-element-image" class="material-icons circle">folder</i>
                        <span id="song-available-element-title" class="title">Title</span>
                        <p id="song-available-element-text">First Line <br>
                            Second Line
                        </p>
                        <a id="song-available-element-upvote" href="#!" class="secondary-content"><i class="material-icons">Me gusta</i><br><i class="material-icons">No de nuevo</i><br><i class="material-icons">SCORE</i></a>
                    </li>
                </ul>
        </section>
        <section>
            <h4>Canciones disponibles</h4>
            <ul id="song-queue" class="collection">
                <li id="song-queue-element" class="collection-item avatar">
                    <i id="song-queue-element-image" class="material-icons circle">folder</i>
                    <span id="song-queue-element-title" class="title">Title</span>
                    <p id="song-queue-element-text">First Line <br>
                        Second Line
                    </p>
                    <a id="song-queue-element-select" href="#!" class="secondary-content"><i class="material-icons">Seleccionar</i></a>
                </li>
            </ul>                  
        </section>
        <section>
            <h4>Más votadas</h4>
            <ul id="song-queue" class="collection">
                <li id="song-queue-element" class="collection-item avatar">
                    <i id="song-queue-element-image" class="material-icons circle">folder</i>
                    <span id="song-queue-element-title" class="title">Title</span>
                    <p id="song-queue-element-text">First Line <br>
                        Second Line
                    </p>
                </li>
            </ul>                  
        </section>
    </body>
</html>