{% extends "base.html" %}


{% block body %}

    <h4>Cola de canciones</h4>
    <div id="lista">
        <ul id="song-available" class="collection">
        {% for artist in artists %}
            <li id="song-available-element" class="collection-item avatar">
                <i id="song-available-element-image" class="material-icons circle">folder</i>
                <span id="song-available-element-title" class="title">{{artist}}</span>
                <p id="song-available-element-text">
                </p>
                <a id="song-available-element-upvote" onclick="select_artist('{{artist}}',{{ forloop.counter0 }})" class="btn-flat secondary-content">
                    <i class="material-icons">play_circle_filled</i>
                </a>
            </li>
            <ul id="{{ forloop.counter0 }}-songs">

            </ul>
        {% endfor %}
        </ul>
    </div>

{% endblock %}



{% block scripts %}
    <script type="text/javascript">
    function select_artist(artist, index){
        $.ajax({
          type: "GET",
          url: "{% url 'getSongs' %}",

          data: {
              'csrfmiddlewaretoken': '{{ csrf_token }}',
            'artist': artist
          },
          success: function (result) {
                $('#' + index + '-songs').html(result);
            }
        });
    }
        function select_song(path){
            $.ajax({
              type: "POST",
              url: "{% url 'pushSong' %}",

              data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                'song': path
              },
              success: function(){
              },
              dataType: "json",
            });
        }
    </script>
{% endblock %}
