{% extends "base.html" %}


{% block body %}
    {% for song in songs %}
        <br>{{song.name}}<br> <button onclick="select_song('{{song.path}}')"></button>
    {% endfor %}
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        function select_song(path){
            $.ajax({
              type: "POST",
              url: "{% url 'pushSong' %}",

              data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                'song': path
              },
              success: function(){
                  alert("bien ahi guacho");
              },
              dataType: "json",
            });
        }
    </script>
{% endblock %}
