{% extends "base.html" %}


{% block body %}
    <h4>Cola de canciones</h4>
    <ul id="song-available" class="collection">
        <li id="song-available-element" class="collection-item avatar">
            <i id="song-available-element-image" class="material-icons circle">folder</i>
            <span id="song-available-element-title" class="title">Title</span>
            <p id="song-available-element-text">First Line <br>
            Second Line
            </p>
            <a id="song-available-element-upvote" href="#!" class="secondary-content"><i class="material-icons">Me gusta</i><br><i class="material-icons">No de nuevo</i><br><i class="material-icons">SCORE</i></a>
        </li>
    </ul>

{% endblock %}
